scheme            : FV 
z0                : -600 
z1                : 600 
nvz               : 64 
CFL               : 0.4 
gz                : 4 
v0                : -1.0 
v1                : 1.0 
nz                : 2000 
N_ITER            : 2500 
ANAL_EVERY        : 25 
pmo               : 1.0 
omega             : 1.0 
theta             : 37 
mu                : 1.0 
n_fullsnap        : 3 
n_vsnap           : 5 
vsnap_z           : [-300, 0, 300] 
n_zsnap           : 5 
zsnap_v           : [-1, -0.5, 0.5, 1] 
n_dump_rho        : 100 
dump_rho_v_modes  : [-1, -0.5, 0.5, 1.0] 
