scheme        : FV 
z0            : -600 
z1            : 600 
nvz           : 50 
CFL           : 0.4 
gz            : 4 
v0            : -1.0 
v1            : 1.0 
nz            : 1000 
N_ITER        : 2500 
ANAL_EVERY    : 25 
pmo           : 1.0 
omega         : 1.0 
theta         : 37 
mu            : 1.0 
nfullsnaps    : 3 
n_vsnap       : 5 
vsnap_zlocs   : [-300, 0, 300] 
n_zsnaps      : 5 
zsnap_vmodes  : [-1, -0.5, 0.5, 1] 
